.steps-container {
  background-color:rgb(129, 185, 185);
}

.shopping-options {
  justify-content:space-between;
}

.shopping-options label {
  border-radius: 15px 15px 0 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.card-container > .card {
  padding: 0 5vw;
}

.active-steps {
  background-color:silver;
}

.online-steps, .personal-shopper-steps {
  background-color:silver;
}