.about-us-container {
  background-image: url('../../assets/images/sky-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  position: relative;
  text-align: center;
}

.about-us-text {
  inset: 10px;
  margin: 50px auto;
  padding: 0 20px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    align-items: center;
    background-image: url('../../assets/images/sky-bg.png');
    background-position: center;
    display: flex;
    height: auto;
    width: 50vw;
  }

  .about-us-text {
    margin: 20px auto;
    padding: 50px;  
    position: relative;
    width: 100%;
  }
}