.brands-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 20px 15px;
}

.store-link {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 300ms;
  width: 25vw;
}

.store-link:hover, .store-link:focus {
  transform: scale(1.25, 1.25);
}

.store-link img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #affiliate-stores {
    margin: 35px;
  }

  .store-link {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 300ms;
    width: 15vw;
  }
}

@media screen and (min-width: 1024px) {
  .store-link {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 300ms;
    width: 10vw;
  }
}