.carousel-caption {
  /* From https://css.glass */
  background: rgba(176, 176, 176, 0);
  border-radius: 16px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 10px;
}

.carousel-caption > p {
  font: 600 .75rem var(--font-03);
}

@media screen and (min-width: 768px) {
  .carousel {
    overflow-y: hidden;
  }

  .carousel-image {
    height: auto;
    margin-top: -15vw;
    max-height: 100%;
    width: 100%;
  }

  .carousel-caption > p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    height: 60vh;
  }

  .carousel-text {
    top: 50%;
    position: absolute;
  }
}

@media screen and (min-width: 1800px) {
  .carousel {
    height: 60vh;
  }

  .carousel-text {
    bottom: 55%;
    position: absolute;
  }

  .carousel-caption > p {
    font-size: 1.5rem;
  }
}