.carousel-caption {
  /* From https://css.glass */
  background: rgba(176, 176, 176, 0);
  border-radius: 16px;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .carousel {
    overflow-y: hidden;
  }

  .carousel-image {
    height: auto;
    margin-top: -15vw;
    max-height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    height: 60vh;
  }

  .carousel-text {
    bottom: 50%;
    position: absolute;
  }
}