.carousel-caption {
  /* From https://css.glass */
background: rgba(176, 176, 176, 0);
border-radius: 16px;
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
padding: 10px;
}

.active {
  background-color: red;
}