footer {
  background-color: #4c2d32;
  color: white;
  border-top: 1px solid black;
  box-shadow: inset 2px 2px 75px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  margin-bottom: 0;
}

ul > li:hover {
  transform: scale(1.25, 1.25);
  transition: 400ms;
}

.whatsapp::before {
  content: url('../../assets/images/whatsapp.svg');
}

.telephone::before {
  content: url('../../assets/images/telephone.svg');
}

.email::before {
  content: url('../../assets/images/email.svg');
}