footer {
  background-color: var(--gray);
  color: var(--black);
}

ul {
  list-style: none;
  margin-bottom: 0;
}

ul > li:hover {
  transform: scale(1.25, 1.25);
  transition: 400ms;
}

.whatsapp::before {
  content: url('../../assets/images/whatsapp.svg');
}

.telephone::before {
  content: url('../../assets/images/telephone.svg');
}

.email::before {
  content: url('../../assets/images/email.svg');
}

@media screen and (min-width: 768px) {
  ul {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  ul {
    width: 35%;
    margin: 0 auto;
  }
}